@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

* {
  padding: 0;
  margin: 0;

  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: #fefefe;
  font-size: 18px;
  font-family: "IBM Plex Mono", monospace;
}
.super-container {
  height: 100%;
  width: 100%;
  background-color: #000;
}
.auth-container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
}
.auth-box {
  width: 90%;
  height: 95%;
  padding: 1rem;
  border: 2px solid #fefefe;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.auth-box > * {
  margin-top: 5rem;
}

.auth-box form {
  width: 100%;
  height: fit-content;
  display: grid;
  grid-template-areas: "title" "input" "code" "button";
  row-gap: 2rem;
  padding: 2rem 1rem;
}
.auth-box form h1 {
  font-family: "IBM Plex Mono", monospace;
  text-align: center;
  color: #fefefe;
  font-size: 1rem;
  grid-area: title;
}
.auth-box form input[type="text"] {
  width: 100%;
  padding: 5px 10px 5px 10px;
  font-size: 1rem;
  grid-area: input;
}
.auth-box form #code-box {
  width: 100%;
  color: #fefefe;
  font-size: 1.2rem;
  line-height: 1.5rem;
  grid-area: code;
}
.auth-box form button {
  width: 100%;
  padding: 5px 10px 5px 10px;
  font-size: 1rem;
  font-weight: bold;
  background-color: #fefefe;
  border: none;
  grid-area: button;
}
#timer {
  color: #fefefe;
  font-size: 1.5rem;
  text-align: center;
}
#code-box {
  border: 5px double #fefefe;
  padding: 1rem;
  color: #fefefe;
  font-size: 0.8rem;
}

.mind-container {
  height: 100%;
  width: 100%;
  background-image: url("../res/neurons-portrait.gif");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
#nodes {
  position: relative;
  height: 100%;
  width: 100%;
}
.image {
  position: absolute;
  border-radius: 50%;
}
#node1 {
  background-image: url("../res/img1-circula.png");
  background-position: center;
  background-size: contain;
  height: 100px;
  width: 100px;
  bottom: 30%;
  left: 50%;
}
#node1:hover {
  transition: 300ms ease-in-out;
  -webkit-transition: 300ms ease-in-out;
  -moz-transition: 300ms ease-in-out;
  -o-transition: 300ms ease-in-out;

  transform: scale(1.2, 1.2);
  -webkit-transform: scale(1.2, 1.2);
  -moz-transform: scale(1.2, 1.2);
  -o-transform: scale(1.2, 1.2);
}
#node2:hover {
  transition: 300ms ease-in-out;
  -webkit-transition: 300ms ease-in-out;
  -moz-transition: 300ms ease-in-out;
  -o-transition: 300ms ease-in-out;

  transform: scale(1.2, 1.2);
  -webkit-transform: scale(1.2, 1.2);
  -moz-transform: scale(1.2, 1.2);
  -o-transform: scale(1.2, 1.2);
}
#node2 {
  background-image: url("../res/img5-circula.png");
  background-position: center;
  background-size: contain;
  height: 50px;
  width: 50px;
  bottom: 65%;
  left: 78%;
}
.modal {
  position: absolute;
  top: -50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  width: 100%;
  transition: 500ms ease-in-out;
  -webkit-transition: 500ms ease-in-out;
  -moz-transition: 500ms ease-in-out;
  -o-transition: 500ms ease-in-out;
}
.modal-content {
  display: flex;
  height: 100%;
  width: 100%;
  background: rgb(73, 83, 193);
  background: linear-gradient(
    0deg,
    rgba(73, 83, 193, 0.835171568627451) 0%,
    rgba(255, 255, 255, 0.6334908963585435) 100%
  );
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  -moz-backdrop-filter: blur(10px);
  -o-backdrop-filter: blur(10px);

  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: 2rem;
}
.modal-content img {
  height: 15%;
  margin: 5px;
  transition: 300ms ease-in-out;
  -webkit-transition: 300ms ease-in-out;
  -moz-transition: 300ms ease-in-out;
  -o-transition: 300ms ease-in-out;
}

.modal-content .description {
  color: #fefefe;
  font-size: 1rem;
  padding: 3rem 1rem;
  font-family: "Open Sans", sans-serif;
}
.modal-content .description p {
  margin-top: 20px;
}
.back-btn {
  color: #fefefe;
  font-size: 2rem;
}

#ready-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-color: #000;
  color: #fefefe;
  font-size: 2rem;
  text-align: center;
  padding: 3rem;
  gap: 20px;
}
#loader {
  height: 10px;
  width: 100%;
  border-radius: 25px;
  background-color: #ff0;

  transition: 500ms ease-in-out;
  -webkit-transition: 500ms ease-in-out;
  -moz-transition: 500ms ease-in-out;
  -o-transition: 500ms ease-in-out;
}
.question-container {
  width: 100%;
  height: 100%;
  padding: 2rem;
  background: rgb(199, 136, 109);
  background: linear-gradient(
    0deg,
    rgba(199, 136, 109, 0.7847514005602241) 0%,
    rgba(111, 138, 153, 0.611) 100%
  );
  font-family: "Open Sans", sans-serif;
}
.question-box h1 {
  line-height: 40px;
  color: #fefefe;
}
.question-box {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.question-box form {
  margin-top: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.question-box form input[type="number"] {
  width: 4rem;
  color: #fefefe;

  background: none;
  border: none;
  border-bottom: 2px solid #fefefe;
  outline: none;
  font-size: 2rem;
  text-align: center;

  transition: all 300ms ease-in-out;
}
#sneakpeek {
  width: 100%;
  height: 100%;
  background-color: rgb(73, 83, 193);
  background-image: url("../res/starcity.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;

  transition: 500ms background ease-in-out;
  -webkit-transition: 500ms background ease-in-out;
  -moz-transition: 500ms background ease-in-out;
  -o-transition: 500ms background ease-in-out;

  animation-name: sneak;
  -webkit-animation-name: sneak;
  -moz-animation-name: sneak;
  -o-animation-name: sneak;

  animation-duration: 3s;
  -webkit-animation-duration: 3s;
  -moz-animation-duration: 3s;
  -o-animation-duration: 3s;
}

@keyframes sneak {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
